h1, h2, h3, p{
  font-family: Helvetica;
}
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}
.brushes {
    background-color: mediumspringgreen;
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.frames {
    background-color: lightcoral;
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.paint {
    background-color: skyblue;
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
